body{
    margin: 0
}
/*start page*/
.page{
    width: 954px;
    margin: auto;
    text-align: center;
}
.page .header{
    height: 68px;
    border: 1px solid red;

}
.page .footer{
    height: 73px;
    border: 1px solid yellow;
}
/*end page */

/*start branch*/
.branch a{
 display: inline-flex;
}
.branch .icon{
    height: 35px;
    width: 35px;
    background-image: url("logo.png");
    display: inline-block;
    background-repeat: no-repeat;
}
/*end branch*/
