body{
    margin: 0;
    font-size: 14px;
}
.container{
    width: 800px;
    margin: auto;
}
.container::before{
    display: table;
    content: "";
}
.container::after{
    display: table;
    content: "";
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #8F8F8F;
}
a:hover{
    text-decoration: none;
}
.float-left{
    float: left;
}
.float-right{
    float:right;
}
/*Brand start*/
.brand{
    padding: 18px 0;
    display: block;
}
.brand .logo{
    width: 40px;
    vertical-align: middle;
}
.brand .text{
    margin-left: 10px;
    color: #888888;
    font-size: 26px;
    vertical-align: middle;
}
/*Brand end*/
/*Page start*/
.page .header{
    border: 1px solid red;
    height: 72px;
}
.page .content{
     border: 1px solid red;
}
.page .footer{
     border: 1px solid red;
}
/*Page end*/
/*Copyright start*/
.copyright{
    margin: 27px 0 38px;
    text-align: center;
}
/*Copyright end*/
/*List start*/
.list .item{
     display: inline-block;
}
/*List end*/
/*List start*/
.main-nav.list .item{
    padding: 38px 0 18px 0;
    margin-left: 20px;
}
.main-nav.list .item .text{  
    color: #8F8F8F;
}
.main-nav.list .item.active{
    border-bottom: 2px solid #4D85D2;
    padding-bottom: 16px;
}
/*List end*/