body{
    margin: 0;
    font-size: 14px;
}
.container-size{
    width: 800px;
    margin: auto;
}
.container-size::before{
    display: table;
    content: "";
}
.container-size::after{
    display: table;
    content: "";
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #8F8F8F;
}
a:hover{
    text-decoration: none;
}
.block-left{
    float: left;
}
.block-right{
    float:right;
}
/*brand start*/
.brand{
    padding: 18px 0;
    display: block;
}
.brand .logo{
    width: 40px;
    vertical-align: middle;
}
.brand .text{
    margin-left: 10px;
    color: #888888;
    font-size: 26px;
    vertical-align: middle;
}
/*brand end*/
/*page start*/
.page .header{
    border: 1px solid red;
    height: 72px;
}
.page .content{
     border: 1px solid red;
}
.page .footer{
     border: 1px solid red;
}
/*page end*/
/*copyright start*/
.copyright{
    margin: 27px 0 38px;
    text-align: center;
}
/*copyright end*/
/*list start*/
.list{
    list-style: none;
}
.list .item{
     display: inline-block;
}
/*list end*/
/*main nav start*/
.main-nav .item{
    padding: 38px 0 18px 0;
    margin-left: 20px;
}
.main-nav .item .text{  
    color: #8F8F8F;
}
.main-nav .item.active{
    border-bottom: 2px solid #4D85D2;
    padding-bottom: 16px;
}
/*main nav end*/