@mixin create-list (){
    display: flex;     
    list-style:none;
    width:auto;
    &__item{
        display: inline-block;
    }
}
@mixin create-main-nav ($main-nav-color){
    @include create-list();
    &__item{
        padding: 19px;
        &__text{
            color: $main-nav-color;
        }
    }
}