@mixin create-page($bg-img:$bg-img-default){
    background: url($bg-img) center no-repeat;
    background-size: cover;
    &__header{
        background-color: rgba(32,37,41,0.9);
        height: 57px;
        &__content{
            margin: auto 40px;
        }
    }
    &__content{
    }
} 