@mixin create-service(){   
    padding: 50px 102px;
    overflow: hidden;
    &__item{
        width: 33.33%;
        float: left;
        text-align: center;
        &__title{
            color:#75AAF5;
            margin: 20px 15px 15px;
        }
        &__desc{
            color:#DADADA;
            margin: 0 15px;
        }
    }
}