@mixin create-service-summary(){   
    display: flex;
    align-items: center;
    &__photo{
        padding: 30px;
    }
    &__content{
        align-self: center;
        padding: 30px;
        &__title{
            color: #FFFFFF;
            font-size: 24px;
        }
        &__desc{
            color: #FFFFFF;
            font-size: 18px;
        }
    }
}