@mixin create-shopping-cart(){   
    margin-bottom: 50px;
    padding: 0 117px;
    &__title{
        font-size: 30px;
        margin-bottom: 30px;
        color: #7E7F81;
    }
    &__content{
        display: flex;
        flex-direction: row;
        align-items: top;
        &__photo{
            max-width: 371px;
            max-height: 279xp;
            vertical-align: middle;
        }
        &__summary{
            padding: 0 50px;
            &__title{
                font-size: 18px;
                margin-top: 0;
                color: #7E7F81;
            }
        }
    }
}