@mixin create-sign-up(){   
    border: 1px solid #4D94F3;
    background-color: #4D94F3;
    padding: 7px 10px;
    &__icon{
        color: #468DF1;
        vertical-align: middle;
        display: inline-block;
        &:before{
            content: "\2713";
            width: 25px;
            height: 25px;
            background: #FFFFFF;
            line-height: 25px;
            border: 1px solid;
            border-radius: 50%;
            display: block;
        }
    }
    &__text{
        font-size: 15px;
        color: #FFFFFF;
        margin-left: 10px;
        vertical-align: middle;
    }
}