$fa-font-path:"../../node_modules/font-awesome/fonts";
$bg-img-default:"../img/bg.jpg";
$bg-img:$bg-img-default;
$brand-color:#FFFFFF;
$main-nav-color: #FFFFFF;
$time-to-meet-astrid-color: #FFFFFF;
$icon-color:#FFCF90;