body{
    margin: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    margin: 0;
    padding: 0;
}
/*multi-columns start*/
.multi-columns{
    width: 100%;
}
.multi-columns__col-3{
    width: 30%;
    float: left;
}
.multi-columns__col-7{
    width: 70%;
    float: left;
}
.pull-left > *{
    float: left;
}
.pull-right > *{
    float: right;
}
/*multi-columns end*/
/*brand start*/
.brand{
    padding: 18px 0;
    display: block;
}
.brand__logo{
    width: 40px;
    vertical-align: middle;
}
.brand__text{
    margin-left: 10px;
    font-size: 26px;
    vertical-align: middle;
    color: #252525;
}
/*brand end*/
/*main-nav start*/
.main-nav{
}
.main-nav__item{
    display: inline-block;
    padding: 36px 0 15px;
    margin: 0 15px;
}
.main-nav__item__text{
    color: #787878;
    font-size: 14px;
}
.main-nav__item--active{
    display: inline-block;
    padding: 36px 0 15px;
    margin: 0 15px;
    border-bottom: 3px solid #4F8EE6;
}
.main-nav__item--active__text{
    color: #787878;
    font-size: 14px;}
/*main-nav end */
/*slider start*/
.slider{
    background: url(img/bg.png) no-repeat center center;
    background-size:cover; 
    position: relative;
    overflow: hidden;
}
.slider .next{
    position: absolute;
    top:50%;
    right: 100px;
    transform: translateY(-50%); 
    font-size: 59px;
    color: #959BA1;
}
.slider .next::before{
    content: "\27E9";
}
.slider .prev{
    position: absolute;
    top:50%;   
    left: 100px;
    transform: translateY(-50%);
    font-size: 59px;
    color: #959BA1;
}
.slider .prev::before{
    content: "\27E8";
}
.slider .content{
    padding: 0 117px;
}
/*slider end*/
/*service-summary start*/
.service-summary{
    display: flex;
    align-items: center;
}
.service-summary .photo{
    padding: 30px;
}
.service-summary .content{
    align-self: center;
    padding: 30px;
}
.service-summary .content .title{
    color: #FFFFFF;
    font-size: 24px;
}
.service-summary .content .desc{
    color: #FFFFFF;
    font-size: 18px;
}
/*service-summary end*/
/*btn-sign-up start*/
.btn-sign-up{
    border: 1px solid #4D94F3;
    background-color: #4D94F3;
    padding: 7px 10px;
}
.btn-sign-up .icon{
    color: #468DF1;
    vertical-align: middle;
    display: inline-block;
}
.btn-sign-up .icon:before{
    content: "\2713";
    width: 25px;
    height: 25px;
    background: #FFFFFF;
    line-height: 25px;
    border: 1px solid;
    border-radius: 50%;
    display: block;
}
.btn-sign-up .text{
    font-size: 15px;
    color: #FFFFFF;
    margin-left: 10px;
    vertical-align: middle;
}
/*btn-sign-up end*/
/*page start*/
.page > .header{
    border: 1px solid red;
    height: 72px;
    padding: 0 117px;
}
.page > .content{
     border: 1px solid red;
}
.page .footer{
     border: 1px solid red;
}
/*page end*/
